<div class="grid-x align-center">
  <div class="large-12 medium-12 cell">
    <div>
      <a href="/<%= modelNamePlural %>/new" class="button">
        {{ 'app.models.<%= modelNamePlural %>.add' | t }}
      </a>
    </div>
    <div class="">
      {% if <%= modelNamePlural %>.results.size > 0 %}
        <table class="table-scroll stack">
          <thead>
            <tr>
  <% attributes.forEach((attr) => { -%>
              <th class="">
                {{ "app.models.<%= modelNamePlural %>.form.<%= attr.name %>" | t }}
              </th>
  <% }); -%>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for <%= modelName %> in <%= modelNamePlural %>.results %}
              <tr class="">
  <% attributes.forEach((attr) => { -%>
                <td class="">
                  <a href="/<%= modelNamePlural %>/show/{{ <%= modelName %>.id }}">
                    {{ <%= modelName %>.<%= attr.name %> }}
                  </a>
                </td>
  <% }); -%>
                <td class="">
                  <a href="/<%= modelNamePlural %>/edit?id={{ <%= modelName %>.id }}" class="index-action">
                  <i class="fi-pencil"></i>{{ 'app.models.<%= modelNamePlural %>.edit' | t }}
                  </a>
                  <form action="/<%= modelNamePlural %>" method="post" class="" onSubmit="if(!confirm('{{ 'app.confirm-delete' | t }}')){ return false; }" >
                    {% include 'modules/func/authenticity_token' %}
                    <input type="hidden" name="_method" value="delete" />
                    <input type="hidden" name="id" value="{{ <%= modelName %>.id }}">

                    <button class="index-action"><i class="fi-x"></i> {{ 'app.models.shared.delete' | t }}</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        {% include '<%= options.outputThemeFolder %>/<%= options.outputTheme %>/<%= modelNamePlural %>/empty_state' %}
      {% endif %}
    </div>
</div>
</div>
